*{
	padding: 0;
	margin: 0;
	font-family: 'Kumbh Sans', sans-serif;
}

.container{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.card{
 	background-color: white;
 	width: 800px;
 	height: 450px;
 	border-radius: 10px;
 	overflow: hiddens;
 	background-image: url("./images/bg-pattern-desktop.svg");
 	background-repeat: no-repeat;
 	background-position: -430px -220px;
 	background-size: 46em;
 	display: grid;
 	grid-template-columns: 1fr 1fr;
 	column-gap: 2em;
 	position: relative;
}

.card .woman{
	width: 23em;
	margin-left: -65px;
	margin-top: 60px;
}

.card .box{
	position: absolute;
	width: 8em;
	top: 11.2em;
	left: -65px;
}

.card .content{
	display: flex;
	flex-direction: column;
	width: 350px;
	padding-right: 5em;
}

.card .content h1{
	font-weight: 700;
	margin: 1em 0;
	color: hsl(237, 12%, 33%);
}

.card .content hr{
	border:none ;
	height: 1px;
	background-color: hsl(240, 5%, 91%);

}

.card .content .questions{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 15px 0;
}

.card .content .questions .arrow{
	width: 12px;
	height: 10px;
	cursor: pointer;
	transition: 0.5s;

}

.card .content .questions .arrow.rotate{
	transform: rotate(180deg);
}

.card .content .questions p{
	color: hsl(240, 6%, 50%);
	
}

.card .content .questions.darkcolor p{
	font-weight: 700;
	color: hsl(237, 12%, 33%);
}

.card .content .answer{
	display: none;
	margin-bottom: 12px;
	color: hsl(240, 6%, 50%);
}

.card .content .answer.open{
	display: block;
}

@media (max-width: 930px){
	.container{
	width: 100%;
	height: 900px;
}
	.card{
 	background-color: white;
 	width: 350px;
 	height: 500px;
 	border-radius: 10px;
 	overflow: hiddens;
 	background-image: url("./images/bg-pattern-desktop.svg");
 	background-repeat: no-repeat;
 	background-position: 4em -8.5em;
 	background-size: 15em;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
}
	
	.card .woman{
	width: 15em;
	margin-left:55px ;
	margin-top: -6.5em;
}

.card .box{
	
	width: 5em;
	top: -2em;
	left: 30px;
}

.card .content{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	margin-left: 12px;
}


}